@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 2. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
    display: block;
   }

   /* Force scrollbar */
   html { overflow-y: scroll; }

   /* Align radios and text inputs with their label */

   input[type='radio'] { vertical-align: text-bottom; }

   /* Hand cursor on clickable input elements */
   label,
   input[type='button'],
   input[type='submit'],
   button {
    cursor: pointer;
   }

   strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
   }

   em { font-style: italic; }

   img {
    border: 0;
    vertical-align: middle;
   }

   sub,
   sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
   }

   sup { top: -.7em; }

   sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* COMMON STYLING */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.container { width: 100%; }

.wrapper {
  width: 71.85%;
  margin: 0 auto;
  max-width: 1500px;
}

.fas { padding-right: 5px; }
body { font-family: Arial; }
ul li { list-style: none; }
img { width: 100%; }
.uppercase { text-transform: uppercase; }
.first-letter:first-letter { text-transform: capitalize; }
.block { display: block; }
.centre { text-align: center; }
.capitalize { text-transform: capitalize; }

.transition {
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -ms-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

/* HEADER */
header {
  padding: 25px 0;
  background-color: #f5f9f9;
}

header .wrapper { width: 72.5%; }
h1 a {  text-indent: -9999px; }

h1 img {
  width: 83%;
  float: right;
  text-indent: 0;
}

/* BANNER */

.banner {
  padding: 312px 0;
  position: relative;
  background-image: url(../images/1.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 312px;
}

.banner-content {
  width: 38.5%;
  position: absolute;
  top: 152px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.banner-content h2 {
  color: #fff;
  font-size: 103px;
  font-weight: 900;
  letter-spacing: 1.7px;
}

.banner-content h2::after {
  content: '';
  width: 100%;
  height: 2px;
  margin-top: 5px;
  display: block;
  background-color: #00a8f5;
}

.banner-content span {
  margin: 30px 0 50px 0;
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.banner-content button {
  padding: 14px 26px 13px 26px;
  border: 1px solid #00a8f5;
  background-color: transparent;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  letter-spacing: 1px;
  transition: all .7s;
}

.banner-content button:hover {
  border-color: #fff;
  color: #00a8f5;
}

.banner .wrapper > span {
  display: block;
  cursor: pointer;
  text-indent: -999px;
}

.banner .wrapper > span::before {
  content: '\f107';
  position: absolute;
  bottom: 62px;
  left: 50%;
  float: right;
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
  font-weight: 900;
  text-indent: 0;
  transform: translateX(-50%);
}
